<!DOCTYPE html>
<html ng-app=myApp3>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<title>Reservations</title>
</head>
<body ng-controller="ReservationsController">
	<div class="container">

	<div style="font-size: 25px;">
	<p align="center">
	<a href="index.html">Menu</a>
	</p>
	<p align="center">
	<a href="takeout.html">Takeout</a>
	</p>

	<h1>Make a Reservation</h1>

	<div class="form-group">
	<label for="name">Name</label>
	<input type="text" class="form-control" id="name" ng-model="reservation.name" placeholder="Enter Name">
	</div>
	
	<div class="form-group">
	<label for="email">Email</label>
	<input type="email" class="form-control" id="email" ng-model="reservation.email" placeholder="email@email.com">
	</div>
	
	<div class="form-group">
	<label for="number">Phone Number</label>
	<input type="text" class="form-control" id="number" ng-model="reservation.number" placeholder="111-111-1111">
	</div>

	<label for="date">Choose a date</label>
	<input type="date" id="date" ng-model="reservation.date"
       placeholder="yyyy-MM-dd" min="2017-04-25" max="2020-12-31" required />

    <div class="inline">
    <label for="time">Time</label>
    <input type="time" id="time" ng-model="reservation.time"
       placeholder="HH:mm" min="01:00" max="12:00" required />
    <label for="timeofDay">Time of Day</label>
    <select id="timeOfDay" name="select" ng-model="reservation.select">
      <option value="am">am</option>
      <option value="pm">pm</option>
    </select>
    </div>

    <br>
    <br>
    <label for="party">Party Size</label>
    <input type="number" id="party" ng-model="reservation.party">

    <br>
    <br>
    <button class="btn btn-success" ng-click="makeReservation()">Submit Reservation</button>
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="controllers/ReservationsController.js"></script>
</body>
</html>